.movie_card_image {
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;
  overflow: hidden;
  margin: 0 20px;
}
.movie_card_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie_card_description {
  margin: 5px 0;
  width: 100%;
}
.movie_card_description p {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.movie_card_genres_container {
  display: flex;
}
.movie_card_genres {
  padding: 6px 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid #aeaeaa;
  margin: 20px;
  background-color: rgb(255, 236, 184);
}
