* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie_gallery_wrapper {
  flex-grow: 1;
  height: 100vh;
  background-color: #fdeded;
}
#gallery_block {
  width: 100%;
  height: calc(100vh - 87px);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}
.movie_card_main_wrapper {
  width: 80%;
  padding-top: 25%;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  background-color: #fff;
}
.movie_card_favorite_btn {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  outline: none;
  outline: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.movie_card_favorite_btn:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
}
.movie_card_right {
  height: 150px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  overflow: hidden;
}
.movie_card_container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.gallery_grid_view {
  flex-direction: row !important;
  flex-wrap: wrap !important;
  margin-left: 1.2%;
}
.gallery_grid_view .movie_card_main_wrapper {
  width: 30%;
  padding-top: 30% !important;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  margin: 1% !important;
  background-color: #fff;
}
.gallery_grid_view .movie_card_right {
  height: auto;
  flex-grow: 0;
}
.gallery_grid_view .movie_card_right > div:not(.movie_card_name_block) {
  display: none;
}
.gallery_grid_view .movie_card_container {
  flex-direction: column;
  justify-content: space-around;
}
.gallery_grid_view .movie_card_name_block {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.gallery_grid_view .movie_card_name_block span:first-child {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_heading {
  padding: 25px 0;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99;
  position: relative;
}

.favorite_list {
  width: 25%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  box-shadow: -3px 0px 3px 1px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.favorite_list_heading {
  padding: 25px 0;
}
#favorite_block {
  width: 100%;
  padding-left: 30px;
  display: flex;
  justify-content: start;
  height: 100%;
  flex-direction: column;
}
.modal_dialog {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  display: none;
}
.modal_dialog_paper {
  min-width: 70%;
  min-height: 80%;
  max-width: 900px;
  margin: 24px;
  padding: 80px;
  background-color: #fff;
  position: relative;
  display: flex;
}
#dialog_content {
  display: flex;
  flex-grow: 1;
}
.dialog_content_containre {
  display: flex;
  position: relative;
  flex-grow: 1;
}
.close_dialog_btn {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  z-index: 99999;
  background-color: #fff;
}
.close_dialog_btn button {
  font-size: 32px;
  width: 34px;
  height: 34px;
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  outline: none;
  outline: 0;
}
.close_dialog_btn:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
}
.filledStar span {
  display: none;
}
.filledStar::after {
  display: inline-block;
  content: "★";
  color: #ffd700;
}
.view_selection_container {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.view_selection_text {
  margin-right: 10px;
}
.view_selection_block {
  display: flex;
  font-size: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.view_selection_block span {
  display: inline-block;
  cursor: pointer;
  padding: 0 6px;
}
.active_selected_view {
  background-color: rgba(0, 0, 0, 0.1);
}
.view_selection_block span:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
